/* body {
    font-family: 'Roboto', sans-serif;
} */

#main-container {
    padding: 1.5%;
    background-color: #4d375d;
}

.notes-container {
    background-color: #121013;
    margin-top: 1.5%;
    padding: 1.5%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
}

.note {
    background-color: #ffe227;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    margin: 30px;
    padding: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-delete-container {
    display: flex;
}

.delete-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
}

.fa-times {
    pointer-events: none;
}

.note-title, .note-content {
    resize: none;
    width: 90%;
    outline: none;
    border: none;
    background-color: transparent;
}

.note-title {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5rem;
}

.note-content {
    overflow-y: auto;
    height: 70%;
    font-size: 0.75rem;
}

/* SCROLLBAR STYLE */

/* .note-content::-webkit-scrollbar {
    width: 10px;
}

.note-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.note-content::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175);
    border-radius: 10px;
}

.note-content::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

/* STYLES FOR OLD HTML DOM */

/* .title-container {
    width: 85%;
    display: inline-block;
    float: left;
}

.clear-float {
    clear: left;
}

.delete-button-container {
    display: inline-block;
    float: right;
}

.delete-button-container img {
    width: 16px;
    height: 16px;
}

.title-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.content-container {
    max-height: 70%;
    overflow-y: auto;
} */